<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Ex00: Markdown Cheatsheet</title>
	</head>
	<body>
		<h1>Ex00: Markdown Cheatsheet</h1>
		<h2>Headings</h2>
		<pre>
			<code>
				# H1
				## H2
				### H3
				#### H4
				##### H5
				###### H6
			</code>
		</pre>
		<h2>Emphasis</h2>
		<pre>
			<code>
				*italic* or _italic_
				**bold** or __bold__
				***bold italic*** or ___bold italic___
				~~strikethrough~~
			</code>
		</pre>
		<h2>Lists</h2>
		<h3>Unordered</h3>
		<pre>
			<code>
				- Item A
				- Item B
					- Subitem B.1
				(May also work with * instead of -)
			</code>
		</pre>
		<h3>Ordered</h3>
		<pre>
			<code>
				1. First
				2. Second
					1. Sub-item
			</code>
		</pre>
		<h2>Links</h2>
		<pre>
			<code>
				[Text](https://www.example.com)
			</code>
		</pre>
		<h2>Code</h2>
		<h3>Inline</h3>
		<pre>
			<code>
				print()
			</code>
		</pre>
		<h3>Block</h3>
		<pre>
			<code>
				def function():
						instruction
			</code>
		</pre>
		<h2>Blockquotes</h2>
		<pre>
			<code>
				> This is a blockquote.
				>> It can span multiple lines.
			</code>
		</pre>
		<h2>Horizontal Rule</h2>
		<pre>
			<code>
				---
				or
				***
			</code>
		</pre>
		<h2>Tables</h2>
		<pre>
			<code>
				| Header 1| Header 2|
				|---------|---------|
				|   Value1|   Value1|
				|   Value2|   Value2|
			</code>
		</pre>
	</body>
</html>
