{% extends 'ex06/base.html' %}
{% load i18n %}

{% block title %}My publications{% endblock %}

{% block content %}
<table class="table">
	<thead class="table-light">
		<tr>
			<th>{% trans "Title" %}</th>
			<th>{% trans "Synopsis" %}</th>
			<th>{% trans "Created" %}</th>
			<th>{% trans "Detail" %}</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for article in articles %}
		<tr>
			<td>{{ article.title }}</td>
			<td>{{ article.synopsis }}</td>
			<td>{{ article.created }}</td>
			<td><a href="{% url 'ex06:article_detail' article.pk %}" class="btn btn-info btn-sm text-white">{% trans "Read" %}</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<a href="{% url 'ex06:publish' %}">{% trans "Publish a new article" %}</a>
{% endblock %}
