<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>ex10</title>
	</head>
	<body>
		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit">Search</button>
		</form>
		{% if data %}
		<ul>
			{% for item in data %}
			<li>{{ item.name }} ({{ item.gender }}) from {{ item.homeworld }} ({{ item.homeworld.diameter }}):
				<ul>
				{% for movie in item.filtered_movies %}
					<li>{{ movie.title }} ({{ movie.release_date }})</li>
				{% endfor %}
				</ul>
			</li>
			{% endfor %}
		</ul>
		{% elif data is not None %}
		<p>Nothing corresponding to your research.</p>
		{% endif %}
	</body>
</html>
