<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ article.title }}</title>
	</head>
	<body>
		<nav>
			<a href="{% url 'ex01:home' %}">Home</a> |
			<a href="{% url 'ex01:articles' %}">All Articles</a> |
			{% if user.is_authenticated %}
			<a href="{% url 'ex01:publications' %}">My Publications</a> |
			<a href="{% url 'ex01:favourites' %}">Favourites</a> |
			<a href="{% url 'ex01:logout' %}">Logout</a>
			{% else %}
			<a href="{% url 'ex01:login' %}">Login</a>
			{% endif %}
		</nav> 
		<h1>My Articles</h1>
		<table>
			<thead>
				<tr>
					<th>Title</th>
					<th>Synopsis</th>
					<th>Created</th>
					<th>Detail</th>
				</tr>
			</thead>
			<tbody>
				{% for article in articles %}
				<tr>
					<td>{{ article.title }}</td>
					<td>{{ article.synopsis }}</td>
					<td>{{ article.created }}</td>
					<td><a href="{% url 'ex01:article_detail' article.pk %}">View</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>
</html>
