{% extends 'ex05/base.html' %}
{% load i18n %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<table class="table">
	<thead class="table-light">
		<tr>
			<th>{% trans "Author" %}</th>
			<th>{% trans "Created" %}</th>
			<th>{% trans "Synopsis" %}</th>
			<th>{% trans "Content" %}</th>
		</tr>
	</thead>
	<tbody>
		{% for article in articles %}
		<tr>
			<td>{{ article.title }}</td>
			<td>{{ article.synopsis|truncatechars:20 }}</td>
			<td>{{ article.author.username }}</td>
			<td>{{ article.created }}</td>
			<td>{{ article.created|timesince }}{% trans " ago" %}</td>
			<td><a href="{% url 'ex05:article_detail' article.pk %}" class="btn btn-info btn-sm text-white">{% trans "Read" %}</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<h1>{{ article.title }}</h1>
<p>{% trans "Author" %}: {{ article.author.username }}</p>
<p>{% trans "Created" %}: {{ article.created }}</p>
<p>{% trans "Synopsis" %}: {{ article.synopsis }}</p>
<p>{% trans "Content" %}: {{ article.content }}</p>
{% if user.is_authenticated %}
<form method="post" action="{% url 'ex05:add_favourite' article.pk %}">
	{% csrf_token %}
	<button type="submit">{% trans "Add to favourites" %}</button>
</form>
{% endif %}
{% endblock %}
